/* https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');

/*== Variables css ==*/
:root {
  --head-height: 3.5rem;

  /*== Colors ==*/
  /*=== Color Mode HSL(hue, saturation, lightness) ===*/
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);

  /*== Font and Typography ==*/
  /* 1rem = 16px | .5rem = 8px */
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  
  /*== Font Weight ==*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*== z-index ==*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*== Responsive typography ==*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*== Base ==*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*== reusable css classes ==*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section_title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section .button {
  background-color: hsla(0, 0%, 100%, .2);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}
.section .button i {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}
.section .button:hover i {
  transform: translateX(.25rem);
} 

.main {
  /*== For animation ScrollReveal ==*/
  overflow: hidden;
}


/*== Header ==*/
.header {
  width: 100%;
  height: var(--head-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}
.header.head-blur::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.nav {
  height: var(--head-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo, .nav_close, .nav_toggle {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav_logo {
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}


/*== Home ==*/
.home {
  position: relative;
}

.home .home_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  /* height: 100vh; */
  object-fit: cover;
  object-position: center;
}

.home .home_shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  /* height: 110vh; */
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 58%, hsl(0, 0%, 0%) 78%);
  /* background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 69%, hsl(0, 0%, 0%) 78%); */
}

.home .home_container {
  position: relative;
  padding-top: 3rem;
  row-gap: 3rem;
}

.home_caption {
  text-align: center;
}
.home_caption .home_subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}
.home_caption .home_title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}
.home_caption .home_describe {
  margin-bottom: 2rem;
  color: var(--title-color);
}

.home_cards {
  grid-template-columns: 240px;
  justify-content: center;
}
.home_cards .home_card {
  position: relative;
  overflow: hidden;
}
.home_card:hover .home_card_img {
  transform: scale(1.2);
}
.home_card .home_card_img {
  transition: transform .4s;
}
.home_card .home_card_title {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: var(--h3-font-size);
  z-index: 1;
}
.home_card .home_card_shadow {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}

/*== About ==*/
.about_container {
  row-gap: 3rem;
}

.about_container .about_caption {
  text-align: center;
}
.about_caption .caption_describe {
  margin-bottom: 2rem;
}

.about_container .about_image {
  position: relative;
  justify-self: center;
  overflow: hidden;
}
.about_image img {
  width: 300px;
  transition: transform .4s;
}
.about_image:hover img {
  transform: scale(1.2);
}
.about_image .about_shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}
